* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header#header {
    position: fixed;
    top: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
}

img#logo {
    height: 50px;
}

nav#navigation ul {
    display: flex;
}

nav#navigation ul a {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10px;
    cursor: pointer;
}

main {
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#mission {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 80vw;
    height: 80vh;
    background-image: url("/assets/img-mission-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 5px;
}

section#mission div.missionstatement {
    width: 100%;
}

section#teaOfTheMonth {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#teaOfTheMonth div.listOfTeas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}