* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;   
}

header#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    position: fixed;
}

h1#logo {
    font-size: 50px;
    line-height: 69px;
}

nav#navigation ul {
    display: flex;
}

nav#navigation ul a {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10px;
}